*{
    padding: 0;
    margin: 0;
}

.header1{
    background-color:black;
    width:100%;
    height:90px;
    border-bottom:1px solid white;
}

.header1 > ul> li> h1{
    line-height:85px;
    margin-left: 40px;
    float:left;
    font-size: 50px;
    
}

.header1>ul >li{
    list-style-type: none;
    display:flex;
    line-height:20px;
    float:left;
}

.header1>ol{
    list-style-type: none;
    display:flex;
    line-height:65px;
    float:right;
}
.header1> ul> li{
    margin-right: 30px;
    font-size: 20px;
}

.home{
    margin-right: 40px;
    font-size: 20px;
}
.Quran{
    margin-right: 40px;
    font-size: 20px;
}
.Dua{
    margin-right: 40px;
    font-size: 20px;
}

a{
    color:white;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
}

.banner{
    width:100%;
    height:592px;
    background-color:black;
    border-left:none;
    /* box-sizing: border-box; */
    border-right:none;
    border-bottom:1px solid white;
}

.left-banner{
    width:20%;
    height:592px;
    background-color:black;
    color:white;
    float:left;
    
}

.left-banner >ul >li{
    text-align:center;
    line-height:50px;
}

.right-banner{
    width:80%;
    height:592px;
    background-image: url('4.jpeg');
    background-size: contain;
    color:white;
    float:left;
}

.div1, .div2, .div3, .div4, .div5, .div6, .div7, .div8{
    width:20%;
    height:400px;
    background-color: black;
    color:white;
    float:left;
    margin-left: 90px;
    margin-top: 100px;
    box-sizing: border-box;
    padding:40px;
    border-radius:5%;
    background-image: url('flora.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border:1px dashed white;
    
}



.div2, .div3, .div4,.div6, .div7, .div8{
   margin-left: 40px;

}
.div5, .div6, .div7, .div8{

    margin-top:40px;
}


mark.black {
    background-color: black;
    color: white;
  }
.rm-btn{
    width:50px;
    height:40px;
    margin-left:15px;
    margin-top: 20px;
    color:white;
    border-radius: 15%;
    padding: 15px;
    text-decoration: none;
}

.footer1{
    width:100%;
    height:100px;
    background-color:black;
    color:white;
    
    
}
.footer1 > ul> li> h1{
    line-height:85px;
    margin-left: 40px;
    float:left;
    font-size: 50px;
    
}
.footer1>ul >li{
    list-style-type: none;
    display:flex;
    line-height:20px;
    float:left;
}

.footer1>ol{
    list-style-type: none;
    display:flex;
    line-height:65px;
    float:right;
}
.footer1> ul> li{
    margin-right: 30px;
    font-size: 20px;
}

.home{
    margin-right: 50px;
    font-size: 30px;
}
.about{
    margin-right: 50px;
    font-size: 30px;
}
.services{
    margin-right: 50px;
    font-size: 30px;
}

a{
    color:white;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
}